Repository 42devs/packages_library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(fetch): basic files to add
  .husky/pre-push
  packages/fetch/.gitignore
  packages/fetch/package.json
  packages/fetch/src/errors/createHttpError.ts
  packages/fetch/src/errors/httpError.ts
  packages/fetch/src/errors/index.ts
  packages/fetch/src/index.ts
  packages/fetch/src/types/Config.ts
  packages/fetch/src/types/Init.ts
  packages/fetch/src/types/Method.ts
  packages/fetch/src/types/MimeTypes.ts
  packages/fetch/src/types/ResponseWithBody.ts
  packages/fetch/src/types/httpStatus.ts
  packages/fetch/src/types/index.ts
  packages/fetch/src/utils/createResponsePromise.ts
  packages/fetch/src/utils/defaults.ts
  packages/fetch/src/utils/entriesToObject.ts
  packages/fetch/src/utils/extendResponsePromiseWithBodyMethods.ts
  packages/fetch/src/utils/extendResponseWithBody.ts
  packages/fetch/src/utils/getHeaders.ts
  packages/fetch/src/utils/index.ts
  packages/fetch/src/utils/isJSONResponse.ts
  packages/fetch/src/utils/methods.ts
  packages/fetch/src/utils/request.ts
  packages/fetch/src/utils/wait.ts
  packages/fetch/tsconfig.eslint.json
  packages/transbank-sdk/package.json
  packages/transbank-sdk/src/index.ts
Due: eslint --fix

feat(core): fix permissions and WOW for projects
  .eslintrc.yml
  .lintstagedrc.yml
  lerna.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.tsbuildinfo
Due: none

feat(transbank-sdk): initial project
  packages/transbank-sdk/.eslintrc.yml
  packages/transbank-sdk/.gitignore
  packages/transbank-sdk/package.json
  packages/transbank-sdk/tsconfig.build.json
  packages/transbank-sdk/tsconfig.eslint.json
  packages/transbank-sdk/tsconfig.json
Due: none

fix(core): linter and prettier working
  .gitignore
  jest.config.js
  nx.json
  package.json
  packages/fetch/.gitignore
  packages/fetch/README.md
  packages/fetch/jest.config.js
  packages/fetch/package.json
  packages/fetch/src/@types/Config.ts
  packages/fetch/src/@types/Init.ts
  packages/fetch/src/@types/Method.ts
  packages/fetch/src/@types/MimeTypes.ts
  packages/fetch/src/@types/ResponseWithBody.ts
  packages/fetch/src/@types/httpStatus.ts
  packages/fetch/src/@types/index.ts
  packages/fetch/src/errors/createHttpError.ts
  packages/fetch/src/index.ts
  packages/fetch/src/utils/createResponsePromise.ts
  packages/fetch/src/utils/defaults.ts
  packages/fetch/src/utils/extendResponsePromiseWithBodyMethods.ts
  packages/fetch/src/utils/extendResponseWithBody.ts
  packages/fetch/src/utils/getHeaders.ts
  packages/fetch/src/utils/isJSONResponse.ts
  packages/fetch/src/utils/methods.ts
  packages/fetch/src/utils/request.ts
  packages/fetch/src/utils/wait.spec.ts
  packages/fetch/tsconfig.pkg.json
  packages/transbank-sdk/package.json
  packages/transbank-sdk/tsconfig.build.json
  packages/transbank-sdk/tsconfig.pkg.json
  pnpm-lock.yaml
  tsconfig.build.json
  tsconfig.json
Due: eslint --fix, prettier --write

feat(fetch): wip testing all
  .lintstagedrc.yml
  README.md
  jest.config.js
  packages/fetch/jest.config.js
  packages/fetch/src/@types/MimeTypes.ts
  packages/fetch/src/@types/httpStatus.ts
  packages/fetch/src/@types/index.ts
  packages/fetch/src/errors/httpError.ts
  packages/fetch/src/errors/index.ts
  packages/fetch/src/index.ts
  packages/fetch/src/utils/entriesToObject.ts
  packages/fetch/src/utils/extendResponseWithBody.ts
  packages/fetch/src/utils/index.ts
  packages/fetch/src/utils/isJSONResponse.ts
  tsconfig.eslint.json
Due: eslint --fix, prettier --write

feat(fetch): test files
  packages/fetch/src/@types/constStatusCodes.ts
  packages/fetch/src/errors/createHttpError.spec.ts
  packages/fetch/src/errors/httpError.spec.ts
  packages/fetch/src/mocks/mockResponse.mock.ts
  packages/fetch/src/utils/createResponsePromise.spec.ts
  packages/fetch/src/utils/defaults.spec.ts
  packages/fetch/src/utils/entriesToObject.spec.ts
  packages/fetch/src/utils/extendResponsePromiseWithBodyMethods.spec.ts
  packages/fetch/src/utils/extendResponseWithBody.spec.ts
  packages/fetch/src/utils/getHeaders.spec.ts
  packages/fetch/src/utils/isJSONResponse.spec.ts
  packages/fetch/src/utils/statusCodes.ts
Due: eslint --fix

feat(core): pre release files
  .gitignore
  .npmrc.example
  .releaserc.yml
  package.json
  packages/fetch/.npmignore
  packages/fetch/.releaserrc.yml
  packages/fetch/README.md
  packages/fetch/package.json
  packages/fetch/src/@types/ResponseParsed.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: pre release files
  .releaserc.yml
  package.json
  packages/fetch/.releaserrc.yml
  packages/transbank-sdk/package.json
  pnpm-lock.yaml
Due: none

WIP workflow
  .github/pull_request_template.md
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/merge-management.yml
  .github/workflows/npm-publish.yml
  .releaserc.yml
Due: prettier --write

feat(fetch): testing WIP
  LICENSE
  packages/fetch/src/index.spec.ts
  packages/fetch/src/utils/methods.spec.ts
  packages/fetch/src/utils/request.spec.ts
  packages/fetch/src/utils/statusCodes.spec.ts
Due: eslint --fix

feat(fetch): tests ended
  .github/workflows/coverage.yml
  .gitignore
  jest.config.js
  packages/fetch/jest.config.js
  packages/fetch/src/index.spec.ts
  packages/fetch/src/utils/methods.spec.ts
  packages/fetch/src/utils/methods.ts
  packages/fetch/src/utils/parseResponse.ts
  packages/fetch/src/utils/request.spec.ts
Due: eslint --fix

fix(core): typo in coverage file
  .github/workflows/coverage.yml
Due: none

fix(core): codecov token
  .github/workflows/coverage.yml
Due: none

feat(core): publish node script
  package.json
  packages/fetch/package.json
Due: none

v1.0.0
  lerna.json
  packages/transbank-sdk/package.json
Due: none

v1.0.1
  lerna.json
  packages/fetch/package.json
  packages/transbank-sdk/package.json
Due: none

v1.0.2
  lerna.json
  packages/fetch/package.json
  packages/transbank-sdk/package.json
Due: none

feat(all): bump version and add license
  .gitignore
  LICENSE
  package.json
  packages/fetch/package.json
  packages/transbank-sdk/package.json
  pnpm-lock.yaml
Due: none

v1.0.3
  lerna.json
  packages/fetch/package.json
  packages/transbank-sdk/package.json
Due: none

chore(core): pre release events and actions
  .github/workflows/canary-release.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/create-release-pr.yml
  .github/workflows/merge-management.yml
  .github/workflows/npm-publish.yml
  .github/workflows/publish.yml
  lerna.json
  package.json
  packages/fetch/package.json
  packages/transbank-sdk/package.json
Due: none

fix(core): typo in package json
  package.json
Due: none

feat(core): bump packages
  CHANGELOG.md
  lerna.json
  packages/fetch/CHANGELOG.md
  packages/fetch/package.json
  packages/transbank-sdk/CHANGELOG.md
  packages/transbank-sdk/package.json
Due: prettier --write

fix(core): change permission
  .github/workflows/create-release-pr.yml
Due: none

fix(core): typo
  .github/workflows/canary-release.yml
  .github/workflows/create-release-pr.yml
  .github/workflows/publish.yml
Due: none

fix: typo in file
  .github/workflows/publish.yml
Due: none

fix: gh action name
  .github/workflows/publish.yml
Due: none

fix: subtitution
  .github/workflows/publish.yml
Due: none

wip: deployment
  package.json
  packages/fetch/package.json
  packages/fetch/tsconfig.pkg.json
  pnpm-lock.yaml
  rollup.config.mjs
  tsconfig.build.json
  tsconfig.json
Due: none

Path conditions:
  eslint --fix: any of: packages/**/*.{ts,vue,js}
  prettier --write: any of: **/*.md
